.header {
    background-color: var(--white);
    padding-top: 96px;
    padding-bottom: 77px;
}
.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}