.header {
    padding: 25px 0;
}

.header-inner {
    display: flex;
    justify-content: center;
    position: relative;
}

@media (min-width: 768px) {
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
}

.header__mobile-menu_trigger {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}