/* Стилизация кнопки */
.btn {
    display: inline-block;
    height: 3rem;
    border: none;
    background-color: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0.875rem 1rem;
    text-align: center;
    line-height: 19px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    cursor: pointer;
}
.btn:disabled  {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn_primary {
    background-color: var(--primary);
    color: var(--white);
}
.btn_secondary {
    background-color: var(--secondary);
    color: var(--white);
}
.btn_alternate {
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.btn_size-m {
    width: 200px;
}