.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--grey-8);
}

.modal__dialog {
    background: var(--white);
    border-radius: 8px;
    width: 70%;
    padding: 30px 40px;
    margin: 15% auto;
    position: relative;
}

#modal__button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
#modal__button-close:hover {
    transform: scale(1.5);
}

.modal__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--white);
}
   
.modal__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-2);
    margin-bottom: 14px;
}

.modal__body {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
} 