.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--grey-8);

    z-index: 888;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal_type_preview {
    position: relative;
    width: 250px;
    padding: 1rem 1rem;
    opacity: 1;
    visibility: visible;
}

.modal__dialog {
    background: var(--white);
    border-radius: 8px;
    max-width: 450px;
    padding: 1rem 2rem;
    position: relative;
    margin: 15% auto;
}

.modal__dialog_type_preview {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
}

.modal__button_close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}
.modal__button_close:hover {
    transform: scale(1.5);
}

.modal__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--white);
}
   
.modal__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-2);
    margin-bottom: 14px;
}

.modal__body {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
} 