* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
main {
    background-color: lightseagreen;
    padding: 20px;
}
.header {
    text-align: center;
}
.header__title {
    color: whitesmoke;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    background-color: red;
    padding: 20px;
}
.header__nav {
    background-color: orange;
}
.header__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    list-style-type: none;
}
.header__list-item {
    color: whitesmoke;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}
.article {
    background-color: blue;
    padding: 50px 15px;
    margin-bottom: 10px;
}
.article__title {
    color: whitesmoke;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
}
.article__list {
    padding: 10px 50px;
}
.article__list-item {
    color: whitesmoke;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}
.footer__text {
    color: whitesmoke;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}
