.grid-2-columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    grid-gap: 2rem;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
}

@media all and (min-width: 768px) {
    .grid-3-columns {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
        grid-gap: 2rem;
    }
}

.grid-4-columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}

@media all and (min-width: 768px) {
    .grid-4-columns {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        grid-gap: 2rem;
    }
}

@media (min-width: 768px) {
    .inner-page {
        display: grid;
        grid-template-columns: 285px 1fr;
    }
}

.inner-page {
    margin-top: 2rem;
}

.inner-page__tooltip {
    margin: 70px 0 30px 35px;
}

.inner-page__content {
    padding: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .inner-page__content {
        padding: 2rem 3rem;
    }
}
.container_bottom-margin {
    margin-bottom: 30px;
}