.radio {
    display: inline-block;
}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    outline: none;
}

.radio__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.radio__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 14px;
}

.radio__icon {
    display: none;
}

.radio__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    margin-left: 12px;
}

.radio__input:checked ~ .radio__state
.radio__control {
    border: 2px solid var(--blue-3);
}

.radio__input:checked ~ .radio__state
.radio__icon {
    display: block;
}

.radio__input:disabled ~ .radio__state
.radio__control {
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state
.radio__label {
    color: var(--grey-2);
}

.radio__input:focus ~ 
.radio__state .radio__label {
    text-decoration: underline;
}