.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    padding: 28px 36px;
}
.calendar__wrap {
    position: relative;
    padding-bottom: 100%;
}
.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__title {
    font-family: 'Inter', 'san-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-2);
    text-align: center;
}
.calendar__item {
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__item_day {
    color: var(--grey-7);
}
.calendar__item_active {
    color: var(--white);
    background: var(--blue-3);
}
.calendar__item_between-active {
    background: var(--purple-2);
}
