.skeleton {
    max-width: 549px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}
.skeleton_loading {
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: var(--grey-5);
    }
    100% {
        background-color: var(--grey-6);
    }
}
.skeleton__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.skeleton__img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
}
.skeleton__title {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.skeleton__title .skeleton__text:first-of-type {
    width: 65%;
}
.skeleton__text {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    /*background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, 
    #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);*/
}
.skeleton__text:last-child {
    margin-bottom: 0;
}