.tooltip {
    display: inline-block;
    position: relative;
}
.tooltip__trigger {
    cursor: pointer;
}
.tooltip__bubble {
    background: var(--blue-3);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    padding: 13px 21px;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -180%);

    display: none;
}
.tooltip__bubble:after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid var(--blue-3);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 99%);
}
.tooltip__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-2);
}
.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}