.footer {
    background-color: var(--main-bg);
    text-align: center;
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .footer {
        padding: 5rem 0;
    }
}

.footer-inner {
    max-width: 60%;
    margin: 0 auto;
}