.preview {
    background-color: #f9fafc;
    padding-top: 68px;
    padding-bottom: 204px;
    border-top: 1px solid var( --grey-2);
    border-bottom: 1px solid var( --grey-2);
}
.preview__wrapp {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    -webkit-column-gap: 30px;
}

